version: 2.1
anchors: &tag-filter {filters: {tags: {only: /.*/}}}
orbs:
  github-release: h-matsuo/github-release@0.1.3
executors:
  python:
    docker:
      - image: circleci/python:3.8.5
commands:
  deps:
    steps:
      - run: sudo apt-get update; sudo apt-get install -y pv pbzip2 mecab
      - run: pip install -r requirements.txt
  compute-freqs:
    parameters:
      lang:
        type: string
    steps:
      - run: ./compute-freqs.sh <<parameters.lang>> download
      - run: ./compute-freqs.sh <<parameters.lang>> bunzip
      - run: ./compute-freqs.sh <<parameters.lang>> extract
      - run: ./compute-freqs.sh <<parameters.lang>> compute
      - persist_to_workspace:
          root: out
          paths:
            - "*.zip*"
jobs:
  ja:
    executor: python
    steps:
      - checkout
      - deps
      - run: python -m unidic download 1.0.2
      - compute-freqs:
          lang: ja
  vi:
    executor: python
    steps:
      - checkout
      - deps
      - compute-freqs:
          lang: vi
  sg:
    executor: python
    steps:
      - checkout
      - deps
      - compute-freqs:
          lang: sg
  gh-release:
    executor: github-release/default
    steps:
      - checkout
      - attach_workspace:
          at: out
      - run: for file in out/*; do mv "$file" "${file/.json/-$CIRCLE_TAG.json}"; done
      - github-release/create:
          tag: $CIRCLE_TAG
          title: Version $CIRCLE_TAG
          description: >
            This release is version $CIRCLE_TAG. Build details are available
            [here]($CIRCLE_BUILD_URL).
          file-path: out
workflows:
  release:
    jobs:
      - sg:
          <<: *tag-filter
      - gh-release:
          <<: *tag-filter
          requires:
            - sg
