version: 2.1
anchors: &tag-filter
  filters:
    tags:
      only: /.*/
    branches:
      ignore: /.*/
orbs:
  github-release: h-matsuo/github-release@0.1.3
executors:
  python:
    docker:
      - image: circleci/python:3.8.5
  python-mysql:
    docker:
      - image: circleci/python:3.8.5
      - image: mariadb:10.5.7
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
commands:
  deps:
    steps:
      - run: sudo apt-get update; sudo apt-get install -y pv pbzip2 mecab mariadb-client
      - run: pip install -r requirements.txt
  freqs:
    parameters:
      lang:
        type: string
    steps:
      - run: ./wikifreqs.sh download <<parameters.lang>>
      - run: ./wikifreqs.sh bunzip <<parameters.lang>>
      - run: ./wikifreqs.sh extract <<parameters.lang>>
      - run: ./wikifreqs.sh compute <<parameters.lang>>
      - run: ./wikifreqs.sh artifacts <<parameters.lang>>
      - persist_to_workspace:
          root: out
          paths:
            - "*.zip*"
  dict:
    parameters:
      lang:
        type: string
    steps:
      - run: ./wikidict.sh download <<parameters.lang>>
      - run: ./wikidict.sh bunzip <<parameters.lang>>
      - run: ./wikidict.sh load <<parameters.lang>>
      - run: ./wikidict.sh extract <<parameters.lang>>
      - run: ./wikidict.sh artifacts <<parameters.lang>>
      - persist_to_workspace:
          root: out
          paths:
            - "*.zip*"
jobs:
  ja:
    executor: python
    steps:
      - checkout
      - deps
      - run: python -m unidic download 1.0.2
      - freqs:
          lang: ja
  vi:
    executor: python
    steps:
      - checkout
      - deps
      - freqs:
          lang: vi
  sg:
    executor: python
    steps:
      - checkout
      - deps
      - freqs:
          lang: sg
  bs-dict:
    executor: python-mysql
    steps:
      - checkout
      - deps
      - dict:
          lang: bs
  vi-dict:
    executor: python-mysql
    steps:
      - checkout
      - deps
      - dict:
          lang: vi
  gh-release:
    executor: github-release/default
    steps:
      - checkout
      - attach_workspace:
          at: out
      - github-release/create:
          tag: $CIRCLE_TAG
          title: Version $CIRCLE_TAG
          description: >
            This release is version $CIRCLE_TAG. Build details are available
            [here]($CIRCLE_BUILD_URL).
          file-path: out
workflows:
  test:
    jobs:
      - sg
      - bs-dict
      - vi-dict
  release:
    jobs:
      - ja:
          <<: *tag-filter
      - vi:
          <<: *tag-filter
      - gh-release:
          <<: *tag-filter
          requires:
            - ja
            - vi
